<!DOCTYPE HTML>
<html lang="en">
<head>
</head>
<body>
<p>Total Reviews:<%= @reviews.count %></p>
<p>Total Labels:<%= @labels.count %></p>
<p>Total Artists:<%= @artists.count %></p>

<p>Avg Rating of Band whose names include 'Bear':<%= @rating %></p>
</body>
</html>